@page "/animations"
@inject ICssCreator CssCreator

<h1>Animations</h1>

<p>
    To do animation with Blazorous, you can use regular CSS transitions for simple things, and for more advanced stuff,
    you can use <code>keyframes</code> via <code>glamor</code>'s <code>css.keyframes</code> API.
</p>

<p>
    This example shows how you can use both <em>Style Attributes</em> and the <code>Css</code> object.
</p>

<Dynamic TagName="div" css="@css" width="70" height="47" background-color="rgb(146, 185, 1)"
         color="white" position="relative" font-weight="bold" font-size="20" padding="10">CSS</Dynamic>

<pre style="background:rgba(238,238,238,0.92);color:#000">
<span style="color:#03c">&lt;<span style="font-weight:700">Dynamic</span> <span style="color:#36c;font-style:italic">TagName</span>=<span style="color:#093">"div"</span> <span style="color:#36c;font-style:italic">css</span>=<span style="color:#093">"@@css"</span> <span style="color:#36c;font-style:italic">width</span>=<span style="color:#093">"70"</span> <span style="color:#36c;font-style:italic">height</span>=<span style="color:#093">"47"</span> <span style="color:#36c;font-style:italic">background-color</span>=<span style="color:#093">"rgb(146, 185, 1)"</span>
<span style="color:#36c;font-style:italic">color</span>=<span style="color:#093">"white"</span> <span style="color:#36c;font-style:italic">position</span>=<span style="color:#093">"relative"</span> <span style="color:#36c;font-style:italic">font-weight</span>=<span style="color:#093">"bold"</span> <span style="color:#36c;font-style:italic">font-size</span>=<span style="color:#093">"20"</span> <span style="color:#36c;font-style:italic">padding</span>=<span style="color:#093">"10"</span>></span>CSS<span style="color:#03c">&lt;/<span style="font-weight:700">Dynamic</span>></span>

@@functions {
    ICss css = Css.CreateNew()
        .AddRule(<span style="color:#093">"-webkit-border-radius"</span>, 5)
        .AddAnimation(<span style="color:#093">"5s 5"</span>, animation => {
            animation
                .AddKeyframe(<span style="color:#093">"from"</span>, css => css.AddRule(<span style="color:#093">"transform"</span>, <span style="color:#093">"rotate(0deg)"</span>).AddRule(<span style="color:#093">"left"</span>, 0))
                .AddKeyframe(<span style="color:#093">"25%"</span>, css => css.AddRule(<span style="color:#093">"transform"</span>, <span style="color:#093">"rotate(20deg)"</span>).AddRule(<span style="color:#093">"left"</span>, 0))
                .AddKeyframe(<span style="color:#093">"50%"</span>, css => css.AddRule(<span style="color:#093">"transform"</span>, <span style="color:#093">"rotate(0deg)"</span>).AddRule(<span style="color:#093">"left"</span>, 500))
                .AddKeyframe(<span style="color:#093">"55%"</span>, css => css.AddRule(<span style="color:#093">"transform"</span>, <span style="color:#093">"rotate(0deg)"</span>).AddRule(<span style="color:#093">"left"</span>, 500))
                .AddKeyframe(<span style="color:#093">"70%"</span>, css => css.AddRule(<span style="color:#093">"transform"</span>, <span style="color:#093">"rotate(0deg)"</span>).AddRule(<span style="color:#093">"left"</span>, 500).AddRule(<span style="color:#093">"background-color"</span>, <span style="color:#093">"rgb(30, 199, 230)"</span>))
                .AddKeyframe(<span style="color:#093">"to"</span>, css => css.AddRule(<span style="color:#093">"transform"</span>, <span style="color:#093">"rotate(-360deg)"</span>).AddRule(<span style="color:#093">"left"</span>, 0));
         });
}
</pre>

@functions {
    ICss css;

    protected override void OnInit()
    {
        css = CssCreator.CreateNew()
            .AddRule("-webkit-border-radius", 5)
            .AddAnimation("5s 5", animation =>
            {
                animation
                    .AddKeyframe("from", css => css.AddRule("transform", "rotate(0deg)").AddRule("left", 0))
                    .AddKeyframe("25%", css => css.AddRule("transform", "rotate(20deg)").AddRule("left", 0))
                    .AddKeyframe("50%", css => css.AddRule("transform", "rotate(0deg)").AddRule("left", 500))
                    .AddKeyframe("55%", css => css.AddRule("transform", "rotate(0deg)").AddRule("left", 500))
                    .AddKeyframe("70%", css => css.AddRule("transform", "rotate(0deg)").AddRule("left", 500).AddRule("background-color", "rgb(30, 199, 230)"))
                    .AddKeyframe("to", css => css.AddRule("transform", "rotate(-360deg)").AddRule("left", 0));
            });
    }
}