@using Blazorous
@page "/components"
@addTagHelper *,Blazorous

<h1>Predefined Components</h1>

<p>
    It can get tedious to type <code>
        <code style="color:#000000;background:#ffffff;">
            <span style="color:#808030; ">&lt;</span>Dynamic TagName<span style="color:#808030; ">=</span><span style="color:#800000; ">"</span><span style="color:#0000e6; ">h1</span><span style="color:#800000; ">"</span><span style="color:#808030; ">&gt;</span><span style="color:#808030; ">&lt;</span><span style="color:#808030; ">/</span>Dynamic<span style="color:#808030; ">&gt;</span>
        </code>
    </code>, so Blazorous comes with predefined components for each html tag.
</p>

<bP color="red">For example, this paragraph is red. using the <code>bP</code> tag. All Blazorous components start with a lower case b and the upper case character of the tag, such as: <code>bDiv, bTable, bH1</code> etc.</bP>

<p>The above paragraph was acheived like so:</p>



<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#03c ">&lt;</span>bP color<span style="color:#03c ">=</span><span style="color:#0000e6; ">"</span><span style="color:#0000e6; ">red</span><span style="color:#0000e6; ">"</span><span style="color:#03c ">&gt;</span><span style="color:#03c ">.</span><span style="color:#03c ">.</span><span style="color:#03c ">.</span><span style="color:#03c ">&lt;</span><span style="color:#03c ">/</span>bP<span style="color:#03c ">&gt;</span>
</pre>

