@using Blazorous
@using Sample.Code
@page "/test"
@addTagHelper *,Blazorous

<form onSubmit={this.alertValue}>
    <Dynamic TagName="input" bind-ElementRef="@inputRef" />
        <button type="button" onclick="@OnClick">
            Submit
        </button>
</form>

@functions {
    ElementRef inputRef;

    async void OnClick()
    {
        await inputRef.AlertValue();
    }
}