@page "/test"
@addTagHelper *,Blazorous

<div>
    <ThemeChooser SelectedThemeChanged="@selectedThemeChanged" />
</div>

<Dynamic TagName="div" css="@primary">Primary</Dynamic>
<Dynamic TagName="div" css="@secondary">Secondary</Dynamic>

@functions {
    ITheme selectedTheme;
    ICss primary = Css.CreateNew();
    ICss secondary = Css.CreateNew();

    void selectedThemeChanged(ITheme selectedTheme)
    {
        if (selectedTheme != null)
        {
            primary = Css.CreateNew().AddRules("color", "white", "background-color", selectedTheme.Variables["primary"]);
            secondary = Css.CreateNew().AddRules("color", "white", "background-color", selectedTheme.Variables["secondary"]);
        }
        else
        {
            primary = Css.CreateNew();
            secondary = Css.CreateNew();
        }
        StateHasChanged();
    }
}