@page "/themetest"

<Dynamic TagName="h1" css="@_heading">This is a test!</Dynamic>

<Dynamic TagName="div" css="@_primary" debug="true">Primary</Dynamic>
<Dynamic TagName="div" css="@_secondary">Secondary</Dynamic>

<div>
    <a href="/test">Theme Select Page</a>
</div>

@functions {
    ICss _primary = Css.CreateNew().AddRules("color", "{font_color}", "background-color", "{primary}");
    ICss _secondary = Css.CreateNew().AddRules("color", "{font_color}", "background-color", "{secondary}");
    ICss _heading = Css.CreateNew().ApplyThemeSnippet("heading");
}